<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--rigth side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="images/about.gif" class="img-fluid" style="margin-top: 5rem;">
                     </div>
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Greetings From <span style="color: #0097e6;">Kishan Jaiswal</span></p>
                        <h1>I Am A <span style="color: #0097e6;">Full Stack Developer</span>  Competetive Programmer And A Student</h1>
                        <a href="http://localhost:5173/#hero"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>
</html>