<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_contetnt">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="today_day"></p>
                        <p id="today_date"></p>
                    </div>
                    <div class="main_layer ">
                        <p id="city_name">Get output here</p>
                        <div class="middle_layer data_hide" >
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script>
        const cityName=document.getElementById('cityName');
        const submitBtn = document.getElementById('submitBtn');
        const city_name = document.getElementById('city_name');
        const temp_status = document.getElementById('temp_status');
        const temp_real_val = document.getElementById('temp_real_val');
        const date = document.getElementById('today_date');
        const dataHide = document.querySelector('.middle_layer');
        const getInfo = async(event) => {
            event.preventDefault();
            let cityVal=cityName.value;
            if(cityVal===""){
                city_name.innerText=`Please write the name before search`;
                dataHide.classList.add('data_hide');
            }else{
                try{
                    let url=`https://api.openweathermap.org/data/2.5/weather?q=${cityVal}&units=metric&appid=2d2f434f79690272a8c405fc416e6610`
                    const response = await fetch(url);
                    const data =await response.json();
                    const arrData=[data];
                    city_name.innerText=`${arrData[0].name},${arrData[0].sys.country}`;
                    temp_real_val.innerText=arrData[0].main.temp;
                    //temp_status.innerText=arrData[0].weather[0].main;
                    const tempMood=arrData[0].weather[0].main;
                    if(tempMood=="Clear"){
                        temp_status.innerHTML="<i class='fas fa-sun' style='color: #eccc68;'></i>";
                    }else if(tempMood=="Clouds"){
                        temp_status.innerHTML="<i class='fas fa-cloud' style='color: #f1f2f6;'></i>";
                    }else if(tempMood=="Rain"){//Cameroon
                        temp_status.innerHTML="<i class='fas fa-cloud-rain' style='color: #a4b0be;'></i>";
                    }else if(tempMood=="Mist" && tempMood=="Haze"){
                        temp_status.innerHTML="<i class='fas fa-smog' style='color: #a4b0be;'></i>";
                    }else{
                        temp_status.innerHTML="<i class='fas fa-cloud' style='color: #eccc68;'></i>";
                    }
                    dataHide.classList.remove('data_hide');
                }catch{
                    city_name.innerText=`Please enter the city name properly`;
                    dataHide.classList.add('data_hide');
                }
            }
        };

        submitBtn.addEventListener('click', getInfo);

    </script>
    <script>
        const getCurrentDay=()=>{
            let weekday=new Array(7);
            weekday[0]="Sunday";
            weekday[1]="Monday";
            weekday[2]="Tuesday";
            weekday[3]="Wednesday";
            weekday[4]="Thursday";
            weekday[5]="Friday";
            weekday[6]="Saturday";

            let month=new Array(12);
            month[0]="Jan";
            month[1]="Feb";
            month[2]="March";
            month[3]="April";
            month[4]="May";
            month[5]="June";
            month[6]="July";
            month[7]="Aug";
            month[8]="Sep";
            month[9]="Oct";
            month[10]="Nov";
            month[11]="Dec";
            let currentTime = new Date();
            let day = weekday[currentTime.getDay()];
            let today_month=month[currentTime.getMonth()]
            let date = `${currentTime.getDate()} ${today_month},${currentTime.getFullYear()}`;
            const today_day=document.getElementById('today_day');
            const today_date=document.getElementById('today_date');
            today_day.innerText=day;
            today_date.innerHTML=date
        };
        getCurrentDay();
    </script>
</body>
</html>